footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed; /* Fijar el footer en la parte inferior de la pantalla */
    bottom: 0;
    width: 100%;
  }