.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Ajusta el ancho mínimo de las columnas */
    grid-gap: 20px; /* Espacio entre los productos */
  }

  .product-details {
    display: flex; 
    align-items: flex-start; 
  }
  
  .product-details img {
    width: 30%;  /* Reduce el ancho de la imagen */
    max-width: 300px; /* Establece un ancho máximo para la imagen */
    margin-right: 20px; 
  }
  
  .product-details-info {
    /* Estilos para la información del producto */
  }